#nav {
text-align: right;
}
#new_project,#new_release{
display: none;
}

 div#right-sidebar{
  position:absolute;
  top: 75px;
  right: 0;
  width:270px;
  height:45%;
  overflow:auto;
 }

tr.even { 
background-color: #99CCCC; 
}
tr.odd { 
background-color: #99CCFF; 
margin: 10px;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

table,td,th
{
padding:10px;
border: 1px;
border-spacing:0px 0px;
color:#3366FF;
text-align: left;
}
table
{
width:100%;
}
th
{
background-color: #F0F0F0; 
height:15px;
}
</style>
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


#footer-wrap {
	position: relative;
	top: 580px;
	left: 0;
	width: 100%;	
}
#header-wrap {
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;	
}

#footer-container{

	height: 25px;
	background: url(/images/bg-btn-blue.png) repeat-x left bottom;
}
#header-container{
	height: 25px;
	background: url(/images/bg-btn-blue.png) repeat-x left bottom;
}
#footer, #header {
	width: 940px;
	margin: 0 auto;
	position: relative;

}

#footer_text {
  color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
  font-weight:bold;
  text-align: center;
  padding-top: 5px;
}
#header_text a{
  color:#fff;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
  font-weight:bold;
  text-align: right;
}


div.transbox
  {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
  padding: 20px;
  background-color:#336699;
  border:1px solid black;
  color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	font-weight:bold;
  
  z-index:100;
	border:1px transparent;
	text-align:left;
	padding:12px;
	top: 24.5px; 
	right: 0px; 
	margin-top:0px;
	margin-right: 0px;


  }

