<% title "Projects" %>

  <%= render 'form' if current_user.role == "Admin" %>
<table id="projects_table">
  <tr>
    <th>Creator</th>
    <th>Project Name</th>
    <th>Project Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 <div id="projects">
  <%= render :partial=>'projects' %>
</div>
</table>
<%= will_paginate(@projects) %>
