<%= render 'form' if current_user.role == "Admin" %>
  <table>
   <tr>
    <th>Creator</th>
    <th>Project Name</th>
    <th>Project Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </table>
<table id="projects_table">
 <div id="projects">
  <%= render :partial=>'projects' %>
</div>
</table>
<%= will_paginate(@projects) %>
