<%= render 'form'%>
  <table>
   <tr>
    <th>Creator</th>
    <th>Project Name</th>
    <th>Project Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </table>
<table id="projects_table">
  <%= render @projects %>
</table>
<%= will_paginate(@projects) %>
