<% title "Projects" %>
  <%= render 'form' if current_user.role == "Admin" %>
<table>
  <tr>
    <th>Creator</th>
    <th>Project Name</th>
    <th>Project Description</th>
  </tr>
 <div id="projects">
  <%= render 'projects' %>
</div>
</table>

<p><%= link_to "New Project", new_project_path %></p>
