<% title "Edit Release" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", project_release_path(@project, @release) %> |
  <%= link_to "Back to Project [#{@project.project_name}] Page", project_path(@project) %>
</p>
